{% extends 'web/frame.html' %}

{% load static  %}
{% block content %}

    <script>
      var width = window.innerWidth / 2;
      var width4 = width / 3;
      var height = window.innerHeight;
      var height4 = height / 7;
      console.log("width: " + width4);
      console.log("height: " + height4);

      $(document).ready(function () {
        $(".stock-price").css("height", height4);
        $(".stock-price").css("width", width4);
      });

      /* col-md-3 col-sm-3 col-lg-3 */
      $(document).ready(function () {
        $(".panel1-box").css("height", height4);
        $(".panel1-box").css("width", "auto");
      });
    </script>

    <style>
      .fullscreen {
        width: 100%;
        height: 100%;
        position: fixed;
      }
      .col-md-3 {
        height: 724px;
      }

      .col-sm-3 {
        height: 724px;
      }

      .col-lg-3 {
        height: 724px;
      }

      .col-md-6 {
        height: 724px;
      }

      .col-sm-6 {
        height: 724px;
      }

      .col-lg-6 {
        height: 724px;
      }

      .stock-price {
        width: 0px;
        height: 0px;
      }

      .padding {
        height: 10px;
      }

      .padding2 {
        height: 20px;
      }

      .box {
        border-right-width: 0.1px;
        border-right-style: solid;
        border-right-color: #747474;
      }
      .jumbotronlong {
        padding: 1rem 1rem;
        margin: 1px 1px 1px 1px;
        overflow: overlay;
        max-height: 500px;
      }
      .jumbotron {
        padding: 1rem 1rem;
        margin: 1px 1px 1px 1px;
        overflow: overlay;
        max-height: 250px;
      }
      .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container-right-column-sm {
        padding-left: 0px;
        padding-right: 10px;
        padding-bottom: 10px;
      }

      .table-card {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        table-layout: fixed;
        word-break: break-all;
      }

      .table-card, .td-card {
        text-align: center;
      }
      .td-card {
        font-size: 1px;
        width: 60px;
      }


      .table td {
        padding: 0.1rem;
        text-align: center;
      }
      .table th {
        padding: 0.2rem;
        text-align: center;
      }

      .card-section {
        position: relative;
      }

      .container {
        display: flex;
      }

      .bg-light {
        margin: 10px;
      }

      h6 {
        text-align: center;
      }


        /* CSS: Panel 1 */
<!--        html {-->
<!--            font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;-->
<!--            font-size: 14px;-->
<!--        }-->

        h5 {
            font-size: 1.28571429em;
            font-weight: 700;
            line-height: 1.2857em;
            margin: 0;
        }

        .center {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }

        .hcenter {
          margin: 0;
          position: absolute;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }

<!--        .card {-->
<!--            font-size: 1em;-->
<!--            overflow: hidden;-->
<!--            padding: 0;-->
<!--            border: none;-->
<!--            border-radius: .28571429rem;-->
<!--            box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;-->
<!--        }-->

        .panel1-box {
            width: 0;
            height: 0;
        }

        .contento { width:100%; vertical-align:top; }

        .primo { *display:inline-block;width:50%;vertical-align:top;float:left; }

        .secondo { *display:inline-block;width:50%;vertical-align:top;float:right; }

        .card-block {
            font-size: 1em;
            position: relative;
            margin: 0;
            padding: 1em;
            border: none;
            border-top: 1px solid rgba(34, 36, 38, .1);
            box-shadow: none;
        }

        .card-img-top {
            display: block;
            width: 240px;
            text-align: center;
            height: auto;
        }

        .card-title {
            font-size: 1.28571429em;
            font-weight: 700;
            line-height: 1.2857em;
        }

        .card-text {
            clear: both;
            margin-top: .5em;
            /*margin-bottom is not exsists at original version*/
            margin-bottom: 1em;
            color: rgba(0, 0, 0, .68);
            text-align: right;
        }

        .card-footer {
            font-size: 1em;
            position: static;
            top: 0;
            left: 0;
            max-width: 100%;
            padding: .75em 1em;
            color: rgba(0, 0, 0, .4);
            border-top: 1px solid rgba(0, 0, 0, .05) !important;
            background: #fff;
        }

        .card-inverse .btn {
            border: 1px solid rgba(0, 0, 0, .05);
        }

        .profile {
            position: relative;
            top: -12px;
            display: inline-block;
            overflow: hidden;
            box-sizing: border-box;
            width: 25px;
            height: 25px;
            margin: 0;
            border: 1px solid #fff;
            border-radius: 50%;
        }

        .profile-avatar {
            display: block;
            width: 0%;
            height: 0%;
            border-radius: 50%;
        }

        .profile-inline {
            position: relative;
            top: 0;
            display: inline-block;
        }

        .profile-inline ~ .card-title {
            display: inline-block;
            margin-left: 4px;
            vertical-align: top;
        }

        .text-bold {
            font-weight: 700;
        }

        .meta {
            font-size: 1em;
            color: rgba(0, 0, 0, .4);
        }

        .meta a {
            text-decoration: none;
            color: rgba(0, 0, 0, .4);
        }

        .meta a:hover {
            color: rgba(0, 0, 0, .87);
        }


    </style>
  </head>
  <body>
    <div class="padding"></div>

    <div class="fullscreen">

      <div class="row">
          <div class="col-md-3 col-sm-3 col-lg-3 box">
            <div class="panel1-box">
                <div class="container-right-column-sm">
                  <div class="jumbotronlong">
                  <div id="btn_group">
                    <div class = "hcenter">
                      <button id="btn_home" class="btn btn-secondary btn-sm">Home</button>
                      <button id="btn_exit" class="btn btn-secondary btn-sm">Exit</button>
                    </div>
                  </div>
                  </div>
                </div>
                <img class="card-img-top" src="https://i.pinimg.com/originals/5a/78/a8/5a78a8c0259059d0043669a4cda7445a.gif
  ">
                <div class="card-block">
                    <div class="contento">
                      <div class="primo">
                        <figure class="profile">
                            <img src="https://i.pinimg.com/originals/5a/78/a8/5a78a8c0259059d0043669a4cda7445a.gif" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title mt-3">이름</h4>
                      </div>
                      <div class="secondo">
                        <div class="meta">
                          <label
                                class="btn-danger btn-lg"
                                data-toggle="modal"
                                role="label"
                                >잔고부족</label
                            >
                          <label>계좌잔고</label>
                        </div>
                      </div>
                        <div class="card-text" >
                            <label> 10000</label>
                            <label> 원</label>
                        </div>
                      </div>
                    </div>

                    <div>
                    <div>
                        <div class="jumbotron">
                          <!--                      <h3 class="display-5">Trading Log</h3>-->
                          <h4>자산현황</h4>
                          <!--                      <p class="lead">Log를 여기에 쌓겠습니다....</p>-->
                          <table class="table table-hover">
                            <thead>
                              <tr>
                                <th scope="col">주식명</th>
                                <th scope="col">보유수</th>
                                <th scope="col">평가금액</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="table-active">
                                <td>SAMSUNG</td>
                                <td>10</td>
                                <td>0</td>
                              </tr>
                              <tr class="table-active">
                                <td>Celltrion</td>
                                <td>0</td>
                                <td>4</td>
                              </tr>
                              <tr class="table-active">
                                <td>SAMSUNG</td>
                                <td>10</td>
                                <td>0</td>
                              </tr>
                              <tr class="table-active">
                                <td>Celltrion</td>
                                <td>0</td>
                                <td>4</td>
                              </tr>
                              <tr class="table-active">
                                <td>SAMSUNG</td>
                                <td>10</td>
                                <td>0</td>
                              </tr>
                              <tr class="table-active">
                                <td>Celltrion</td>
                                <td>0</td>
                                <td>4</td>
                              </tr>
                            </tbody>
                          </table>
                          <hr class="my-4" />
                          <p></p>
                        </div>
                      </div>
                      </div>

                <div class="card-footer">
                    <small>MOYEO! 모의투자!</small>
  <!--                  <button class="btn btn-secondary float-right btn-sm">임시버튼</button>-->
                </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-lg-6 box">
            <div class="jumbotron">오늘의 뉴스</div>
            <div class="padding2"></div>

            <div class="card-section">
                <div class="container container1">
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem">
                    <div class="card-body" id="005930">
                      <h6>SAMSUNG</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="000660">
                      <h6>SK 하이닉스</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="068270">
                      <h6>셀트리온</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="096530">
                      <h6>씨젠</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
    
                <div class="container container2">
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="105560">
                      <h6>KB 금융</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="055550">
                      <h6>신한지주</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="009540">
                      <h6>한국조선해양</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="133750">
                      <h6>메가엠디</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
    
                <div class="container container3">
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="057030">
                      <h6>YBM넷</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="035720">
                      <h6>카카오</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="035420">
                      <h6>네이버</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="035760">
                      <h6>CJ ENM</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
    
                <div class="container container4">
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="352820">
                      <h6>빅히트</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="009830">
                      <h6>한화솔루션</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="011780">
                      <h6>금호석유</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="011070">
                      <h6>LG 이노텍</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card">2000</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div class="col-md-3 col-sm-3 col-lg-3 box">
            <div class="container-right-column-sm">
              <p>Progress</p>
              <div class="progress">
                <div
                  class="progress-bar bg-danger"
                  role="progressbar"
                  style="width: 25%"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
            <div>
            <div class="container-right-column-sm">
              <div class="jumbotron">
                <!--                      <h3 class="display-5">Trading Log</h3>-->
                <h4>Trading Log</h4>
                <!--                      <p class="lead">Log를 여기에 쌓겠습니다....</p>-->
                <p>현재 라운드의 거래 내역입니다.</p>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Round</th>
                      <th scope="col">Stock</th>
                      <th scope="col">Purchase</th>
                      <th scope="col">Sale</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-active">
                      <th scope="row">1R</th>
                      <td>SAMSUNG</td>
                      <td>10</td>
                      <td>0</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">1R</th>
                      <td>Celltrion</td>
                      <td>0</td>
                      <td>4</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">1R</th>
                      <td>SAMSUNG</td>
                      <td>10</td>
                      <td>0</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">1R</th>
                      <td>Celltrion</td>
                      <td>0</td>
                      <td>4</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">1R</th>
                      <td>SAMSUNG</td>
                      <td>10</td>
                      <td>0</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">1R</th>
                      <td>Celltrion</td>
                      <td>0</td>
                      <td>4</td>
                    </tr>
                  </tbody>
                </table>
                <hr class="my-4" />
                <p></p>
              </div>
            </div>
            <div class="container-right-column-sm">
              <div class="jumbotron">
                <h4>Return on Investment History</h4>
                <p>각 라운드 별 투자 수익률 현황입니다.</p>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Round</th>
                      <th scope="col">Profit</th>
                      <th scope="col">Percentage</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-active">
                      <th scope="row">1R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">2R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">3R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">4R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">5R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">6R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">7R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">8R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">9R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="container-right-column-sm">
              <div class="jumbotron btn-container">
                <a
                  class="btn btn-danger btn-lg"
                  data-toggle="modal"
                  href="#aggregateModal"
                  role="button"
                  >Next Round</a
                >
              </div>
            </div>
          </div>
            </div>
      </div>
    </div>

    <!-- Aggregate Modal -->
    <div class="modal" id="aggregateModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Round Result</h3>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>현재 라운드: 1Round</p>
            <p>총 손익금액: ₩164,433,432</p>
            <p>수익률: 1212%</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-success"
              data-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
      var json = $.ajax({
		url : 'http://13.124.3.123:8080/api/v1/stock_price/',
		type : 'GET',
		dataType : 'json',
    });

    var jsonForm = JSON.stringify(json);

    console.log(json);

<!--    16개의 주식에 대한 주가 정보 업데이트-->
    function updateCardBody(){
      for(i in $(.card-body).length){
        var code = json.responseJSON[i].stock_code
        document.getElementById(code).getElementByClassName("price").innerText
        = json.responseJSON[i].current_price
        
      }
    }

    function init(){
      updateCardBody();
    }

    init();

    </script>
{% endblock %}