{% extends 'web/frame.html' %}

{% load static  %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">


    <script>
      var width = window.innerWidth / 2;
      var width4 = width / 3;
      var height = window.innerHeight;
      var height4 = height / 6;
      console.log("width: " + width4);
      console.log("height: " + height4);

      $(document).ready(function () {
        $(".stock-price").css("height", height4);
        $(".stock-price").css("width", width4);
      });

      /* col-md-3 col-sm-3 col-lg-3 */
      $(document).ready(function () {
        $(".panel1-box").css("height", height4);
        $(".panel1-box").css("width", "auto");
      });
<!-- User Name Cookie-->
      var getCookie = function(name) {
        var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
        return value? value[2] : null;
      };

      var userName = getCookie("userName");

      $("#"+userName+"").text(userName);
      console.log($("#"+userName+"").text);



    </script>

    <style>
      .fullscreen {
        width: 100%;
        height: 100%;
        position: fixed;
      }
      .col-md-3 {
        height: 724px;
      }

      .col-sm-3 {
        height: 724px;
      }

      .col-lg-3 {
        height: 724px;
      }

      .col-md-6 {
        height: 724px;
      }

      .col-sm-6 {
        height: 724px;
      }

      .col-lg-6 {
        height: 724px;
      }

      .stock-price {
        width: 0px;
        height: 0px;
      }

      .padding {
        height: 10px;
      }

      .padding2 {
        height: 20px;
      }

      .box {
        border-right-width: 0.1px;
        border-right-style: solid;
        border-right-color: #747474;
      }
      .jumbotronlong {
        padding: 1rem 1rem;
        margin: 1px 1px 1px 1px;
        overflow: overlay;
        max-height: 500px;
      }
      .jumbotron {
        padding: 1rem 1rem;
        margin: 1px 1px 1px 1px;
        overflow: overlay;
        max-height: 250px;
      }
      .btn-container {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .container-right-column-sm {
        padding-left: 0px;
        padding-right: 10px;
        padding-bottom: 10px;
      }

      .table-card {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        table-layout: fixed;
        word-break: break-all;
      }

      .table-card, .td-card {
        text-align: center;
      }
      .td-card {
        font-size: 1px;
        width: 60px;
      }


      .table td {
        padding: 0.1rem;
        text-align: center;
      }
      .table th {
        padding: 0.2rem;
        text-align: center;
      }

      .card-section {
        position: relative;
      }

      .container {
        display: flex;
      }

      .bg-light {
        margin: 10px;
      }

      h6 {
        text-align: center;
      }


        /* CSS: Panel 1 */
<!--        html {-->
<!--            font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;-->
<!--            font-size: 14px;-->
<!--        }-->

        h5 {
            font-size: 1.28571429em;
            font-weight: 700;
            line-height: 1.2857em;
            margin: 0;
        }

        .center {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }

        .hcenter {
          margin: 0;
          position: absolute;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }

<!--        .card {-->
<!--            font-size: 1em;-->
<!--            overflow: hidden;-->
<!--            padding: 0;-->
<!--            border: none;-->
<!--            border-radius: .28571429rem;-->
<!--            box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;-->
<!--        }-->

        .panel1-box {
            width: 0;
            height: 0;
        }

        .contento { width:100%; vertical-align:top; }

        .primo { *display:inline-block;width:50%;vertical-align:top;float:left; }

        .secondo { *display:inline-block;width:50%;vertical-align:top;float:right; }

        .card-block {
            font-size: 1em;
            position: relative;
            margin: 0;
            padding: 1em;
            border: none;
            border-top: 1px solid rgba(34, 36, 38, .1);
            box-shadow: none;
        }

        .card-img-top {
            display: block;
            width: 240px;
            text-align: center;
            height: auto;
        }

        .card-title {
            font-size: 1.28571429em;
            font-weight: 700;
            line-height: 1.2857em;
        }

        .card-text {
            clear: both;
            margin-top: .5em;
            /*margin-bottom is not exsists at original version*/
            margin-bottom: 1em;
            color: rgba(0, 0, 0, .68);
            text-align: right;
        }

        .card-footer {
            font-size: 1em;
            position: static;
            top: 0;
            left: 0;
            max-width: 100%;
            padding: .75em 1em;
            color: rgba(0, 0, 0, .4);
            border-top: 1px solid rgba(0, 0, 0, .05) !important;
            background: #fff;
        }

        .card-inverse .btn {
            border: 1px solid rgba(0, 0, 0, .05);
        }

        .profile {
            position: relative;
            top: -12px;
            display: inline-block;
            overflow: hidden;
            box-sizing: border-box;
            width: 25px;
            height: 25px;
            margin: 0;
            border: 1px solid #fff;
            border-radius: 50%;
        }

        .profile-avatar {
            display: block;
            width: 0%;
            height: 0%;
            border-radius: 50%;
        }

        .profile-inline {
            position: relative;
            top: 0;
            display: inline-block;
        }

        .profile-inline ~ .card-title {
            display: inline-block;
            margin-left: 4px;
            vertical-align: top;
        }

        .text-bold {
            font-weight: 700;
        }

        .meta {
            font-size: 1em;
            color: rgba(0, 0, 0, .4);
        }

        .meta a {
            text-decoration: none;
            color: rgba(0, 0, 0, .4);
        }

        .meta a:hover {
            color: rgba(0, 0, 0, .87);
        }


    </style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Your page title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
    <script>
    $(function () {
        "use strict";
        $("#grid").jqGrid({
                url: 'http://15.164.171.146:8080/api/v1/current_stock/',
                mtype: "GET",
                datatype: "json",
                colModel: [
                    { label: '주식명', name: 'stock_name', width: 100 },
                    { label: '보유수', name: 'stock_quantity', width: 100 },
                    { label: '평가금액', name: 'current_price', width: 200 },
                ]
            }).trigger('reloadGrid');
    });
    </script>
</head>
  <body>
    <div class="padding"></div>

    <div class="fullscreen">

      <div class="row">
          <div class="col-md-3 col-sm-3 col-lg-3 box">
            <div class="panel1-box">
                <div class="container-right-column-sm">
                  <div class="jumbotronlong">
                  <div id="btn_group">
                    <div class = "hcenter">
                      <a href="../intro">
                        <button id="btn_home" class="btn btn-secondary btn-sm">Home</button>
                      </a>
                    </div>
                  </div>
                  </div>
                </div>
                <img class="card-img-top" src="https://i.pinimg.com/originals/5a/78/a8/5a78a8c0259059d0043669a4cda7445a.gif
  ">
                <div class="card-block">
                    <div class="contento">
                      <div class="primo">
                        <figure class="profile">
                            <img src="https://i.pinimg.com/originals/5a/78/a8/5a78a8c0259059d0043669a4cda7445a.gif" class="profile-avatar" alt="">
                        </figure>
                        <h4 class="card-title mt-3" id="userName">이름</h4>
                      </div>
                      <div class="secondo">
                        <div class="meta">
                          <label id="Insufficient-balance"
                                class="btn-danger btn-lg"
                                data-toggle="modal"
                                role="label"
                                style="visibility:hidden;"
                                >잔고부족</label
                            >
                          <label>계좌잔고</label>
                        </div>
                      </div>
                        <div class="card-text" >
                            <label id="balance"> 1000000</label>
                            <label> 원</label>
                        </div>
                      </div>
                    </div>

                    <div>
                    <div>
                        <div class="jumbotron">
                          <!--                      <h3 class="display-5">Trading Log</h3>-->
                          <h4>자산현황</h4>
                          <!--                      <p class="lead">Log를 여기에 쌓겠습니다....</p>-->
                          <table id="grid" class="table table-hover"></table>
                          <hr class="my-4" />
                          <p></p>
                        </div>
                      </div>
                      </div>

                <div class="card-footer">
                    <small>MOYEO! 모의투자!</small>
  <!--                  <button class="btn btn-secondary float-right btn-sm">임시버튼</button>-->
                </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-6 col-lg-6 box">
            <div class="jumbotron" id="newsPanel">오늘의 뉴스</div>
            <div class="padding2"></div>

            <div class="card-section">
                <div class="container container1">
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem">
                    <div class="card-body" id="005930">
                      <h6>SAMSUNG</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('30', '05930')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('30', '05930')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="000660">
                      <h6>SK 하이닉스</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('30', '00660')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('30', '00660')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="068270">
                      <h6>셀트리온</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('30', '68270')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('30', '68270')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="096530">
                      <h6>씨젠</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('30', '96530')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('30', '96530')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
    
                <div class="container container2">
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="105560">
                      <h6>KB 금융</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('31', '05560')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('31', '05560')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="055550">
                      <h6>신한지주</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('30', '55550')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('30', '55550')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="009540">
                      <h6>한국조선해양</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('30', '09540')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('30', '09540')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="133750">
                      <h6>메가엠디</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('31', '33750')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('31', '33750')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
    
                <div class="container container3">
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="057030">
                      <h6>YBM넷</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('30', '57030')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('30', '57030')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="035720">
                      <h6>카카오</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('30', '35720')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('30', '35720')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="035420">
                      <h6>네이버</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('30', '35420')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('30', '35420')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="035760">
                      <h6>CJ ENM</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('30', '35760')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('30', '35760')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
    
                <div class="container container4">
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="352820">
                      <h6>빅히트</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('33', '52820')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('33', '52820')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="009830">
                      <h6>한화솔루션</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('30', '09830')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('30', '09830')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="011780">
                      <h6>금호석유</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('30', '11780')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('30', '11780')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
    
                  <div
                    class="stock-price card bg-light mb-3"
                    style="max-width: 20rem"
                  >
                    <div class="card-body" id="011070">
                      <h6>LG 이노텍</h6>
                      <table class="table-card">
                        <tr>
                          <td class="td-card">price</td>
                          <td class="td-card price"></td>
                        </tr>
                        <tr>
                          <td class="td-card">가격변동</td>
                          <td class="td-card"></td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <div class="form-group">
                              <input class="form-control form-control-sm" type="text" placeholder="?" id="inputSmall">
                            </div>
                          </td>
                          <td class="td-card">주</td>
                        </tr>
                        <tr>
                          <td class="td-card">
                            <button type="button" class="btn btn-success" onclick="buy('30', '11070')">사기</button>
                          </td>
                          <td class="td-card">
                            <button type="button" class="btn btn-info" onclick="sell('30', '11070')">팔기</button>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          <div class="col-md-3 col-sm-3 col-lg-3 box">
            <div class="container-right-column-sm">
              <p>Progress</p>
              <div class="progress">
                <div
                  class="progress-bar bg-danger"
                  role="progressbar"
                  id="progressBar"
                  style="width: 25%"
                  aria-valuenow="0"
                  aria-valuemin="0"
                  aria-valuemax="10"
                ></div>
              </div>
            </div>
            <div>
            <div class="container-right-column-sm">
              <div class="jumbotron">
                <!--                      <h3 class="display-5">Trading Log</h3>-->
                <h4>Trading Log</h4>
                <!--                      <p class="lead">Log를 여기에 쌓겠습니다....</p>-->
                <p>현재 라운드의 거래 내역입니다.</p>
                <table class="table table-hover">
                  <thead>
                    <tr>
<!--                      <th scope="col">Round</th>-->
                      <th scope="col">Stock</th>
                      <th scope="col">Purchase</th>
                      <th scope="col">Sale</th>
                    </tr>
                  </thead>
                  <tbody id="table-body">
                  </tbody>
                </table>
                <hr class="my-4" />
                <p></p>
              </div>
            </div>
            <div class="container-right-column-sm">
              <div class="jumbotron">
                <h4>Return on Investment History</h4>
                <p>각 라운드 별 투자 수익률 현황입니다.</p>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Round</th>
                      <th scope="col">Profit</th>
                      <th scope="col">Percentage</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-active">
                      <th scope="row">1R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">2R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">3R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">4R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">5R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">6R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">7R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">8R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                    <tr class="table-active">
                      <th scope="row">9R</th>
                      <td>100,000</td>
                      <td>3.5%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="container-right-column-sm">
              <div class="jumbotron btn-container">
                <a
                  class="btn btn-danger btn-lg"
                  data-toggle="modal"
                  href="#aggregateModal"
                  role="button"
                  id="nextRoundBtn">
                  Next Round</a>
              </div>
            </div>
          </div>
            </div>
      </div>
    </div>

    <!-- Aggregate Modal -->
    <div class="modal" id="aggregateModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title">Round Result</h3>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="currentRound">현재 라운드: 1Round</p>
            <p id="currentProfit">총 손익금액: ₩164,433,432</p>
            <p id="currentProfitRatio">수익률: 1212%</p>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-success"
              data-dismiss="modal"
              id="closeRoundBtn"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <script>
    var getCookie = function(name) {
      var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return value? value[2] : null;
    };
    var setCookie = function(name, value, exp) {
      var date = new Date();
      date.setTime(date.getTime() + exp*24*60*60*1000);
      document.cookie = name + '=' + value + ';expires=' + date.toUTCString() + ';path=/';
    }
    $(document).ready(function(){
      var userName = getCookie("userName");
      var curRound = getCookie("round");
      var newsData = getCookie("currentNews");
      userInfo = $.ajax({
        url : 'http://15.164.171.146:8080/api/v1/user_rank/'+userName,
        type :  'GET',
        dataType : 'json',
        async: false,
      });
      $("#newsPanel").text("오늘의 뉴스  "+newsData);
      $("#userName").text(userName);
      $("#balance").text(userInfo.responseJSON.deposit);
      var width = "width: "+curRound+0+"%"
      $("#progressBar").attr("style",width);
      console.log($("#userName").text);
      console.log(userName);
      console.log(userInfo);


      json = $.ajax({
      url : 'http://15.164.171.146:8080/api/v1/stock_price/',
      type : 'GET',
      dataType : 'json',
      async: false,
      });


      for(var i = 0; i<json.responseJSON.length; i++){
      var curStock = json.responseJSON[i].current_price;
      var code = json.responseJSON[i].stock_code;

      $("#"+code+"").find('td.price').text(curStock);
      }

    });

    function putCurrentStock(stock_code, stock_name, stock_quantity, current_price)
    {
      put_data = {
        "stock_code": stock_code,
        "stock_name": stock_name.toString(),
        "stock_quantity": stock_quantity,
        "average_price": 0,
        "current_price": current_price,
        "previous_price": 0,
        "earning_rate": 0
      }

      uri = 'http://15.164.171.146:8080/api/v1/current_stock/'+ stock_code +'/'
      console.log("putCurrentStock uri :", uri);

      json = $.ajax({
            type: 'PUT',
            url: uri,
            data: JSON.stringify(put_data),
            error: function(e) {
              console.log(e);
            },
            success: function(json) {
              /* $("#grid").clearGridData(); */
              $("#grid").trigger("reloadGrid");
            },
            dataType: "json",
            contentType: "application/json"
        });
    }

    function patchCurrentStock(stock_code, stock_name, stock_quantity, current_price)
    {
      put_data = {
        "stock_code": stock_code,
        "stock_name": stock_name.toString(),
        "stock_quantity": stock_quantity,
        "current_price": current_price
      }

      uri = 'http://15.164.171.146:8080/api/v1/current_stock/'+ stock_code +'/'
      console.log("patchCurrentStock uri :", uri);

      json = $.ajax({
            type: 'PATCH',
            url: uri,
            data: JSON.stringify(put_data),
            error: function(e) {
              console.log(e);
            },
            success: function(json) {
              /* $("#grid").clearGridData(); */
              $("#grid").trigger("reloadGrid");
            },
            dataType: "json",
            contentType: "application/json"
        });
    }

    function getCurrentStock(stock_code)
    {
      var result = false;
      uri = 'http://15.164.171.146:8080/api/v1/current_stock/'+ stock_code +'/'
      console.log("getCurrentStock uri :", uri);

      json = $.ajax({
            type: 'GET',
            url: uri,
            async: false,
            error: function(e) {
              console.log(e);
            },
            dataType: "json",
            contentType: "application/json"
      });

      return json;
    }

    function patchDeposit(username, deposit) {
      /* document.querySelector("#userName").textContent */
      put_data = {
        "deposit": deposit
      }

      uri = "http://15.164.171.146:8080/api/v1/user_rank/"+username+"/"
      console.log("patchDeposit uri :", uri);

      json = $.ajax({
            type: 'PATCH',
            url: uri,
            data: JSON.stringify(put_data),
            error: function(e) {
              console.log(e);
            },
            dataType: "json",
            contentType: "application/json"
        });
    }



    function buy(row, item) {
      /* row: row number 1 => 30 */
      /* item: stock id */
      var stock_code = row[1]+item;


      stockId = row[1] + item;

      var path = "#\\"+ row +" "+ item +" > table > tbody > tr:nth-child(1) > td:nth-child(2)"
      console.log('path: ', path);
      var price = document.querySelector(path).textContent;
      console.log('price: ', price);
      var stock_name = document.querySelector("#\\"+ row +" "+ item +" > h6").textContent;
      var username = document.querySelector("#userName").textContent;

      var count = document.querySelector("#\\"+ row +" "+ item +" > table > tbody > tr:nth-child(3) > td:nth-child(1) > div > input").value;
      setPrice = price * count;
      console.log('price: ', price, 'count: ', count, 'Total: ', setPrice);

      if(!flashInSufficientBalance(setPrice)){
        /*buy*/
        console.log("I will buy " + stock_code + " money: " + setPrice);
        console.log("DB API에 사는 경우 처리 구현 필요");
        /* 구매 */

        currentBalance = $("#balance").text()

        result = getCurrentStock(stock_code);
        currentCount = result.responseJSON["stock_quantity"];

        stock_quantity_to_update = parseInt(currentCount, 10) + parseInt(count, 10);

        patchCurrentStock(stock_code, stock_name, stock_quantity_to_update, price)
        currentBalance = currentBalance - setPrice;

        $("#balance").text(currentBalance);

        /* 구매 후 Panel 1의 table grid를 DB 값으로 전체 갱신 */
        patchDeposit(username, currentBalance);

      }

      var tbody = document.getElementById('table-body');
      var tr1 = document.createElement('tr');
      tr1.classList.add('table-active');
      tbody.appendChild(tr1);

      var td1 = document.createElement('td');
      td1.innerText = stock_name;

      var td2 = document.createElement('td');
      td2.innerText = count;

      var td3 = document.createElement('td');
      td3.innerText = '0';

      tr1.appendChild(td1);
      tr1.appendChild(td2);
      tr1.appendChild(td3);



    }

    function flashInSufficientBalance(setPrice) {

      if(setPrice > document.querySelector("#balance").textContent) {
        $("#Insufficient-balance").css('visibility', 'visible')
        $("#Insufficient-balance").fadeIn(1000).fadeOut(300);
        return true;
      }
      return false;
    }

    function sell(row, item) {
      /* row: row number 1 => 30 */
      /* item: stock id */

      var path = "#\\"+ row +" "+ item +" > table > tbody > tr:nth-child(1) > td:nth-child(2)";
      var price = document.querySelector(path).textContent;
      var stock_name = document.querySelector("#\\"+ row +" "+ item +" > h6").textContent;
      var count = document.querySelector("#\\"+ row +" "+ item +" > table > tbody > tr:nth-child(3) > td:nth-child(1) > div > input").value;
      setPrice = price * count;
      var username = document.querySelector("#userName").textContent;

      /*sell*/
      stock_code = row[1] + item;

      console.log("sell: " + stock_code + " money: " + setPrice);
      console.log("DB API이용해서 팔 수 있는 갯수만큼 내가 현재 주식을 보유중인지 체크한 후 파는 경우 처리 구현 필요");
      /* 판매 */

      currentBalance = $("#balance").text()

      result = getCurrentStock(stock_code);
      currentCount = result.responseJSON["stock_quantity"];

      stock_quantity_to_update = parseInt(currentCount, 10) - parseInt(count, 10);

      if(stock_quantity_to_update>=0){
        patchCurrentStock(stock_code, stock_name, stock_quantity_to_update, price)
        currentBalance = parseInt(currentBalance, 10) + parseInt(setPrice, 10);

        $("#balance").text(currentBalance);
        patchDeposit(username, currentBalance);

        /* 판매 후 Panel 1의 table grid를 DB 값으로 전체 갱신 */
      } else {
        alert("판매 하려는 주식 수량이 보유 수량보다 많습니다.");
      }

      //sell buy 할 때, DB에 PUT

      var tbody = document.getElementById('table-body');
      var tr1 = document.createElement('tr');
      tr1.classList.add('table-active');
      tbody.appendChild(tr1);

      var td1 = document.createElement('td');
      td1.innerText = stock_name;

      var td2 = document.createElement('td');
      td2.innerText = '0';

      var td3 = document.createElement('td');
      td3.innerText = count;

      tr1.appendChild(td1);
      tr1.appendChild(td2);
      tr1.appendChild(td3);
    }


    $("#nextRoundBtn").bind("click", function(event, ui){
        var getCookie = function(name) {
      var value = document.cookie.match('(^|;) ?' + name + '=([^;]*)(;|$)');
      return value? value[2] : null;
    };
      var round = getCookie("round");
      var width = "width: "+round+0+"%"
      $("#progressBar").attr("style",width);
      $("#currentRound").text("현재 라운드: "+round+"Round");

      var userName = getCookie(userName);
      console.log(userName);
      json = $.ajax({
        url : 'http://15.164.171.146:8080/api/v1/aggregate',
        type : 'POST',
        dataType : 'json',
        async: false,
        data : {
            'username' : userName,
        },
        success: function(response){
            console.log(response)
        },
      });
      $("#currentProfit").text("총 손익금액: ₩"+json.responseJSON.profit);
      $("#currentProfitRatio").text("수익률: "+json.responseJSON.profitRatio+"%");

      round *= 1;
      round += 1;
      setCookie("round",Number(round));

      newsData = $.ajax({
        url : 'http://15.164.171.146:8080/api/v1/current_stock_update',
        type : 'GET',
        dataType : 'json',
        async: false,
      });
      $("#newsPanel").text("오늘의 뉴스: "+newsData.responseJSON.news_data);
    });
    $("#closeRoundBtn").bind("click", function(event, ui){
      var round = getCookie("round");
      if(Number(round) > Number(10)){
        $(location).attr('href','http://15.164.171.146:8080/ranking')
      }
    });

    </script>

{% endblock %}