<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>INTRO</title>

    <link href="{% static 'web/bootstrap/bootstrap.css' %}" rel = "stylesheet" />
    <link href="{% static 'web/_assets/css/custom.min.css' %}" rel = "stylesheet" />


    <style>
        .fullscreen{
            width:100%;
            height:100%;
            position:fixed;
        }
        .col-md-3{
            height: 724px;
        }

        .col-sm-3{
            height: 724px;
        }

        .col-lg-3{
            height: 724px;
        }

        .col-md-6{
            height: 724px;
        }

        .col-sm-6{
            height: 724px;
        }

        .col-lg-6{
            height: 724px;
        }

        .padding{
            height: 10px;
        }

        .box{
            border-right-width: 0.1px;
            border-right-style: solid;
            border-right-color: #747474;
        }
    </style>

  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
    <div class="padding"></div>

    <div class="fullscreen">
         <div class="row">
            <div class="col-md-3 col-sm-3 col-lg-3 box">

            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 box">
            <table align="center">
                <tr>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">SAMSUNG</h6>
                              <span class="badge badge-warning">3000</span>
                            <button type="button" class="btn btn-white btn-sm">Buy</button>
                          </div>
                      </div>
                  </td>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">Info card title</h6>
                            </div>
                      </div>
                  </td>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">Info card title</h6>
                            </div>
                      </div>
                  </td>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">Info card title</h6>
                            </div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">Info card title</h6>
                            </div>
                      </div>
                  </td>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">Info card title</h6>
                            </div>
                      </div>
                  </td>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">Info card title</h6>
                            </div>
                      </div>
                  </td>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">Info card title</h6>
                            </div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">Info card title</h6>
                            </div>
                      </div>
                  </td>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">Info card title</h6>
                            </div>
                      </div>
                  </td>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">Info card title</h6>
                            </div>
                      </div>
                  </td>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">Info card title</h6>
                            </div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">Info card title</h6>
                            </div>
                      </div>
                  </td>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">Info card title</h6>
                            </div>
                      </div>
                  </td>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">Info card title</h6>
                            </div>
                      </div>
                  </td>
                  <td>
                      <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
                          <div class="card-body">
                            <h6 class="card-title">Info card title</h6>
                            </div>
                      </div>
                  </td>
                </tr>
              </table>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3 box">
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>
    </div>



    <script src="{% static 'web/js/jquery.min.js' %}"></script>
    <script src="{% static 'web/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'web/js/custom.js' %}"></script>

  </body>
</html>