{% extends 'web/frame.html' %}

{% load static  %}
{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@700&display=swap" rel="stylesheet">
<script>
      var width = window.innerWidth;
      var width3 = width/3;
      var height = window.innerHeight;
      var height3 = height/3;

      $(document).ready(function () {
        $(".user-name").css("height", height3);
        $(".user-name").css("width", width3);
      });


</script>

<style>


</style>

</head>

<body>

<div class="user-name">
  <form>
    <div class="form-group">
      <label for="id" class="nickname">NickName</label>
      <input type="text" class="form-control nickname" id="id">
    <button type="submit" class="btn btn-primary nickname" id="submit">Submit</button>

</div>
</form>

</div>

</body>

<script>
  var nickname = document.getElementById('exampleInputEmail1');

  $('#submit').click(function(){
    console.log(nickname.innerText);
  });
</script>

{% endblock %}
